/** @format */

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#url {
  margin-left: 20px;
  margin-right: 20px;
}

.inputWrapper p {
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.track p {
  margin: 0 10px;
  font-size: 24px;
}

#horses_table {
  width: 100%;
}

th {
  cursor: pointer;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}
